@model WebMvcTelefonRehberi.Models.Dtos.KisiCreateDto

@{
    ViewData["Title"] = "Kisi Detayi";
}

@*<h1>Details</h1>*@

<div>
    <h4>Kisi Detayı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gsm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gsm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a  class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
